// base
@import "./base/variables";
@import "./base/mixins";
@import "./base/fonts";
@import "./base/icons"; 
@import "./base/zeroing";
// @import "./base/popup";
@import "./base/burger";
@import "./base/ui";
// libs
// @import "./libs/";
// blocks
@import "./blocks/header";
@import "./blocks/footer";
@import "./blocks/hero";
@import "./blocks/love";
@import "./blocks/shouldDo";
@import "./blocks/shareLink";
@import "./blocks/agree";
@import "./blocks/audience";
@import "./blocks/cookies";
@import "./blocks/getStart";


// global styles
._container {
	max-width: $width + px;
	margin: 0 auto;
	padding: 0 10px;
	@media (max-width: $md1+px) {
		max-width: 1350px;
	}
	@media (max-width: 1400px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
	}
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	background: #000;
	color: #fff;
}

.page {
  flex: 1 1 auto;
}

body{
	&._lock{
		overflow: hidden;
	}
}

// media
@import "./base/media";