.hero {
   min-height: 100vh;
   display: flex;

   @media (max-height: 1080px){
      padding: max(21vh,150px) 0 60px 0;

      @media (max-width: $md3+px){
         padding: 100px 0px 40px 0px !important;
      }
   }

   &__container {
      flex: 1 1 auto;

      @media (min-height: 1080px){
         display: flex;
         flex-direction: column;
         justify-content: center;
      }
      @media (max-width: $md3+px){
         display: flex;
         flex-direction: column;
         justify-content: center;
      }
   }

   &__title {
      font-weight: 700;
      font-size: 112px;
      line-height: 111%;
      color: #fff;
      text-align: center;
      @include adaptiv-value('margin-bottom', 135, 25, 1);

      @media (max-width: $md1+px){
         font-size: 95px;
      }
      @media (max-width: 1400px){
         font-size: 80px;
      }
      @media (max-width: $md2+px){
         font-size: 60px;
      }
      @media (max-width: $md3+px){
         font-size: 44px;
      }

      span{
         background: linear-gradient(90deg, #FE6783 1.9%, #FFBF84 97.1%);
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
         display: block;
      }
   }

   &__info {
      max-width: 694px;
      margin: 0 auto;

      @media (max-width: $md2+px){
         max-width: none;
      }
   }

   &__descr {
      font-weight: 500;
      font-size: 40px;
      line-height: 150%;
      text-align: center;
      color: #fff;
      @include adaptiv-value('margin-bottom', 50, 25, 1);

      @media (max-width: $md3+px){
         font-size: 30px;
      }
      @media (max-width: $md4+px){
         font-size: 24px;
      }
   }

   &__buttons {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 26px;
      margin: 0px 0px 20px 0px;

      @media (max-width: $md4+px){
         grid-template-columns: 1fr;
         gap: 20px;
      }
   }

   &__btn {
      height: 77px;

      @media (max-width: $md3+px){
         height: 70px;
      }
      @media (max-width: $md4+px){
         height: 65px;
         font-size: 18px;
      }
   }
}