.love {
   padding: 60px 0 0 0;
   @media (max-width: $md3+px){
      padding: 4  0px 0 0 0;
   }
   @include adaptiv-value('margin-bottom', 160, 80, 1);
   &__container {
   }

   &__title {
      @include adaptiv-value('margin-bottom', 64, 20, 1);
   }

   &__body {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 -5px;

      @media (max-width: $md3+px){
         margin: 0;
         flex-direction: column;
         align-items: flex-start;
      }
   }

   &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 5px;

      @media (max-width: $md3+px){
         padding: 0;
         align-items: flex-start;

         &:not(:last-child){
           margin: 0px 0px 20px 0px;
         }
      }
   }

   &__subtitle {
      font-weight: 600;
      font-size: 35px;
      line-height: 149%;
      color: #fff;
      margin: 0px 0px 10px 0px;
      position: relative;

      &_1{
         padding-left: 45px;
         &:before{
            content: '';
            position: absolute;
            bottom: 10px;
            left: 0;
            width: 37px;
            height: 37px;
            background: url('../img/love/01.svg') center / contain no-repeat;
         }
      }
      &_2{
         padding-left: 40px;
         &:before{
            content: '';
            position: absolute;
            bottom: 10px;
            left: 0;
            width: 32px;
            height: 32px;
            background: url('../img/love/02.svg') center / contain no-repeat;
         }
      }
      &_3{
         padding-left: 51px;
         &:before{
            content: '';
            position: absolute;
            bottom: 10px;
            left: 0;
            width: 43px;
            height: 42px;
            background: url('../img/love/03.svg') center / contain no-repeat;
         }
      }

      @media (max-width: $md1+px){
         font-size: 33px;
      }

      @media (max-width: 1400px){
         font-size: 28px;

         &_1{
            padding-left: 38px;
            &:before{
               width: 30px;
               height: 30px;
            }
         }
         &_2{
            padding-left: 38px;
            &:before{
               width: 30px;
               height: 30px;
            }
         }
         &_3{
            padding-left: 40px;
            &:before{
               width: 36px;
               height: 35px;
            }
         }
         &:before{
            bottom: 7px;
         }
      }
      @media (max-width: $md2+px){
         font-size: 24px;
         &_1{
            padding-left: 33px;
            &:before{
               width: 25px;
               height: 25px;
            }
         }
         &_2{
            padding-left: 33px;
            &:before{
               width: 25px;
               height: 25px;
            }
         }
         &_3{
            padding-left: 35px;
            &:before{
               width: 31px;
               height: 30px;
            }
         }
         &:before{
            bottom: 7px;
         }
      }
      @media (max-width: $md3+px){
         font-size: 28px;

         &_1{
            padding-left: 38px;
            &:before{
               width: 30px;
               height: 30px;
            }
         }
         &_2{
            padding-left: 38px;
            &:before{
               width: 30px;
               height: 30px;
            }
         }
         &_3{
            padding-left: 40px;
            &:before{
               width: 36px;
               height: 35px;
            }
         }
         &:before{
            bottom: 10px;
         }
      }
   }

   &__descr {
      font-weight: 400;
      font-size: 22px;
      line-height: 150%;
      color: $gray;
      text-align: center;

      @media (max-width: $md1+px){
         font-size: 20px;
      }
      @media (max-width: $md2+px){
         font-size: 18px;
      }
      @media (max-width: $md3+px){
         text-align: left;
      }
   }
}